<h2>Lista de Alunos</h2>
<table
  mat-table
  [dataSource]="alunos"
  class="mat-elevation-z8"
  style="width: 100%"
>
  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.id }}</td>
  </ng-container>
  <!-- Nome -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.nome }}</td>
  </ng-container>
  <!-- Nota -->
  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef>Nota</th>
    <td mat-cell *matCellDef="let aluno">{{ aluno.nota }}</td>
  </ng-container>
  <!-- Ações -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let aluno">
      <button mat-button color="primary" (click)="editar(aluno)">Editar</button>
      <button mat-button color="warn" (click)="remover(aluno)">Remover</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
